[Unit]
Description=Pi-hole Visualizer Service
After=pihole-FTL.service lighttpd.service

[Service]
Type=idle
ExecStart=/home/pi/pi-hole-visualizer/dns_stats.py -c ads -i 180

[Install]
WantedBy=multi-user.target
