[Unit]
Description=Pi-hole Visualizer Service
After=pihole-FTL.service

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/pi-hole-visualizer/dns_stats.py -c alternate -r

[Install]
WantedBy=multi-user.target
